/*-- scss:rules --*/

// Darker gray header
.navbar {
  background-color: #343a40 !important;
  border-bottom: 1px solid #23272b;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #f8f9fa !important;
}

.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}
